@import url(https://fonts.googleapis.com/css?family=Kanit:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
  font-family: "Kanit", sans-serif;
  margin: 0 32px;
  background-color: #eef7ff;
}

main {
  max-width: 900px;
  margin-inline: auto;
}

main h1 {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.expense-tracker {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.expense-form {
  width: 50%;
  margin-inline: auto;
}

.expense-table {
  width: 100%;
  border-collapse: collapse;
}

.expense-table select {
  font: inherit;
  width: 100%;
  border: none;
  outline: none;
}

.amount-column div {
  display: flex;
}

.amount-column span {
  margin-right: 6px;
}

.arrow {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.up-arrow {
  margin-left: auto;
}

.up-arrow:active {
  transform: translateY(-2px);
}

.down-arrow {
  margin-left: 6px;
}

.down-arrow:active {
  transform: translateY(2px);
}

.expense-table th,
.expense-table td {
  border: 1px solid #444;
  text-align: left;
  padding: 4px 8px;
  background-color: white;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.input-container label {
  font-size: 14px;
}

.input-container input {
  height: 28px;
  font-family: inherit;
}

#category {
  height: 28px;
  font: inherit;
}

.add-btn {
  width: 100%;
  height: 32px;
  font-size: 18px;
  font-family: inherit;
  margin-top: 8px;
  background-color: white;
  border: 1px solid black;
}

.add-btn:active {
  scale: 0.98;
}

.context-menu {
  background-color: white;
  border: 1px solid;
  position: absolute;
  display: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.context-menu div {
  padding: 2px 8px;
  cursor: pointer;
  font-weight: 600;
}

.context-menu div:hover {
  background-color: #ddd;
}

@media (max-width: 900px) {
  body {
    margin-inline: 16px;
  }

  .expense-form {
    width: 100%;
  }
}
